@font-face {
    font-family: 'LetterFont'; 
    src: url("../fonts/Spectral/Spectral-ExtraLight.ttf"); 
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 66%;
}

#index {
    background-image:url('../images/loginbackground.png');
}

#principal {
    background-image:url('../images/principalbackground.jpg');
}

#aniadir {
    background-image:url('../images/aniadirbackground.jpg');
}

#editar {
    background-image:url('../images/editarbackground.jpg');
}

#register {
    background-image:url('../images/registerbackground.jpg');
}

form {
    background-image:url('../images/logincardbackground.jpg');
    background-size: cover;
}

h1, p, label, button, table, nav, a, h4 {
    font-family: 'LetterFont'; 
}

a {
    color:white;
    text-decoration:none;
}

#nombre {
    font-weight: bold;
}

#logo {width:60px;}
